@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
	--primary: rgb(57 172 115);
	--secondary: white;
	--tertiary: rgb(156 163 175);

	--primary-active: rgb(22 163 74);
}

html {
    scroll-behavior: smooth;
}

.loginBgImage {
	background-image: url("/loginBgImage.jpg");
}

.responsiveLink > div:hover {
	color: rgb(195, 203, 211);
	cursor: pointer;
}

.form :nth-child(odd) {
	margin-bottom: 6px;
	font-size: small;
	font-weight: 500;
}

.form :nth-child(even) {
	margin-bottom: 12px;
	padding: 16px 12px;
	width: 384px;
	outline: none;
	border: 1px solid;
	border-radius: 999px;
}

@media (max-width: 639px) {
	.form :nth-child(even) {
		width: 12rem !important;
		padding-left: 1.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-size: 12px;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	h1 {
		@apply text-5xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-3xl;
	}
	h4 {
		@apply text-2xl;
	}
	h5 {
		@apply text-xl;
	}
	h6 {
		@apply text-lg;
	}
}

h1,
h2,
h3 {
	@media (max-width: 768px) {
		font-size: 18px !important;
	}
}

.select__menu {
	z-index: 999;
}

.carousel-item {
	padding: 30px 60px;
	display: flex !important;
}
.slick-slide > div {
	margin: 0 60px;
}

.slick-slide .slider-container {
	margin: 0 60px;
}

.slick-list {
	margin: 0 -60px;
}

.header-items{
	display: none;
}

@media screen and (min-width: 1024px) {
	.header-items{
		display: flex !important;
		gap: 3rem;
	}
	.login-button{
		margin-left: 0 !important;;
	}
}

@media screen and (max-width: 768px) {
	.button{
		padding: 6px 1rem !important;
	}
	.data-section{
		justify-content: space-between !important;
	}
	.hide-on-smaller{
		display: none;
	}
}

.login-button{
	margin-left: auto;
}

.button{
	padding: 10px 1.5rem;
	background: none;
	color: var(--tertiary);
	border-radius: 2rem;
	border: 1px solid var(--tertiary);
}

.button-primary{
	background: var(--primary);
	color: var(--secondary);
	border-color: var(--primary);
}

.button-primary:hover{
	background-color: var(--primary-active);
}

.button-lg{
	padding: 1rem 1.75rem;
}

.data-section{
	justify-content: space-evenly;
}

